@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Excel rules for transating </p>
    <p>
      1. Please chaneg the path and excel sheet name in the controller -> Translate() action method<br />
      2. Make sure each sheet in excel is one table an sheeta name is table name. <br />
      3. Make sure each colum in excel is each colum and first row has column names folowed by data <br />

    </p>
</div>
